body {
    background-color: #88ffff;
  }

.ui-datepicker-trigger {  
    max-height: 28px; 
} 
  
#read-later {
    color: white;
    font-size: 26px;
    font-weight: bold;
    background-color: #28b5f4;
    border-radius: 12px;
    text-align: center;
}

#articles {
    color: white;
    font-size: 26px;
    font-weight: bold;
    background-color: #28b5f4;
    border-radius: 12px;
    text-align: center;
}

#city {
    font-size: 20px;
    color: white;
    background-color: #28b5f4;
    text-align: center;
    margin: -9px;
    margin-bottom: 2px;
    border-radius: 12px;
    font-weight: bold;
}