

/* .container {
    min-height: 100%;
    min-width: 100%;  
} */

/* #favorites {
    background-color: green;
    height: 600px;
}
#search {
    background-color: blue;
    width: 800px;
    height: 200px;
}
#info {
    background-color: red;
    height: 375px;
    width: 800px;
} */

.ui-datepicker-trigger {  
    max-height: 28px; 
} 

#new-york {
    background-color: red;
}

#paris {
    background-color: orange;
}

#tokyo {
    background-color: yellow;
}

#sao-paulo {
    background-color: green;
}

#cape-town {
    background-color: blue;
}

#articles {
    background-color: purple;
}