body {
    background-color: #4dd0e1   ;
  }

.ui-datepicker-trigger {  
    max-height: 28px; 
} 
  
#read-later-header {
    color: white;
    font-size: 26px;
    font-weight: bold;
    background-color: #28b5f4;
    border-radius: 12px;
    text-align: center;
    padding-bottom: 5px;
    box-shadow: 2px 2px 5px #383838;
    margin-top: 13px;
}

#read-later {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #28b5f4;
    border-radius: 12px;
    text-align: center;
    padding-top: 1px;
    box-shadow: 2px 2px 5px #383838;
}

#search-card {
    border-radius: 12px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px #383838;
    width: 300px;
    margin-left: 290px;
}

#start {
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 1px 1px 3px #383838;
    background-color: #28b5f4;
}

#city {
    font-size: 18px;
    color: white;
    background-color: #28b5f4;
    text-align: center;
    margin: -2px;
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 12px;
    font-weight: bold;
    padding: 3px;
    box-shadow: 2px 2px 5px #383838;
}

#new-york, #paris, #tokyo, #sao-paulo, #cape-town {
    background-color: #88ffff;
    border-radius: 8px;
    margin-top: 8px;
    padding: 5px;
    box-shadow: 2px 2px 5px #383838;
}

#article-header {
    color: white;
    font-size: 26px;
    font-weight: bold;
    background-color: #28b5f4;
    border-radius: 12px;
    text-align: center;
    padding: 5px;
    box-shadow: 2px 2px 5px #383838;
    margin-top: 80px;
}

#article-title {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

#save-article {
    background-color: #88ffff;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 1px 1px 3px #383838;
}

#article-card {
    border-radius: 12px;
}

#info {
    margin-top: 100px;
}

#right-column {
    padding-left: 50px;
}